# All non wanted fiels
TEST/*
G1
Output_Time.txt
fort.2*
.#*
Output_Time*
.scon*
.sconsign.dblite
E1D0*
log*
*_tmp.f90


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*_tmp.sh
